@using System.Web.UI.WebControls
@using Microsoft.Ajax.Utilities
@{
    ViewBag.Title = "Skapa nytt djur";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/ImageUpload.js"></script>
<h2>ImageUpload</h2>

@using (Html.BeginForm("Index", "Upload",
FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <h4>Välj en bild på ett fult djur</h4>

    <input id="image" name="image" type="file" class="btn btn-primary left" style="margin: 5px">
    <input id="rubrik" name="rubrik" type="text" placeholder="Rubrik" required class="form-control" style="margin: 5px" />
    <input type="submit" value="Ladda upp" class="btn btn-primary bottom-left" style="margin: 5px" />
    <a class="btn btn-primary" href="~/">Gå tillbaka</a>
}

<div class="text-info">
   @ViewBag.UploadMessage   
</div>