@model IEnumerable<FulaDjur.Models.FultDjur>

@{
    ViewBag.Title = "Index";
}

<h2>Fula djur</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@foreach (var item in Model)
{
    <div class="row">
        <div class="col-12">
            <div class="row">
                @Html.DisplayFor(modelItem => item.Rubrik)
            </div>
            <div class="row">
                <img src="@Url.Content(item.ImageUrl)" alt="IMAGES" />
            </div>
            <div class="row">
                @Html.DisplayFor(modelItem => item.UglyRating)
            </div>
        </div>
    </div>
}

    
